Repository questdb/questdb.io, pull requests merged in 2022-11, with the labels that each got.

#1167 feat(docs) adding new blog post - data life cycle
  blog/2022-11-02-data-lifecycle-questdb.md
  static/img/blog/2022-11-02/banner.png
Labels: docs, Tutorial

#1163 fix(docs): fix ALTER TABLE RENAME COLUMN diagram
  static/img/docs/diagrams/.railroad
  static/img/docs/diagrams/alterTableRenameColumn.svg
Labels: bug, Documentation

#1166 chore(docs) Refining millis and micros unit format
  docs/reference/function/date-time.md
Labels: docs, improvement

#1159 chore(docs) refactoring row_number function
  docs/introduction.md
  docs/reference/function/aggregation.md
  docs/reference/function/analytic.md
  sidebars.js
  static/img/docs/diagrams/.railroad
  static/img/docs/diagrams/analyticFunction.svg
  static/img/docs/diagrams/orderBy.svg
Labels: docs, improvement

#1171 chore(docs) Improving ILP default timestamp wording
  docs/reference/api/ilp/overview.md
Labels: docs, improvement

#1165 chore(docs) document Kafka ILP connector
  docs/introduction.md
  docs/third-party-tools/kafka/jdbc.md
  docs/third-party-tools/kafka/overview.md
  docs/third-party-tools/kafka/questdb-kafka.md
  netlify.toml
  sidebars.js
  src/modules/integration/index.tsx
Labels: docs, improvement, New feature, QuestDB 6.5.5

#1176 feat(core): document attach partition when partition.attachable is a symlink
  docs/reference/sql/alter-table-attach-partition.md
Labels: New feature, QuestDB 6.5.5

#1179 chore(docs) Kafka page improvement
  docs/third-party-tools/kafka/questdb-kafka.md
Labels: docs, improvement

#1175 feat(docs) Devoxx article
  blog/2022-11-8-questdb-devoxx-belgium-2022.md
  static/img/blog/2022-11-08/booth.png
  static/img/blog/2022-11-08/devoxx.png
  static/img/blog/2022-11-08/talk.png
Labels: blog post

#1177 chore(docs) `N+` and `U+`
  docs/guides/working-with-timestamps-timezones.md
  docs/reference/function/date-time.md
Labels: docs, QuestDB 6.5.5

#1157 chore(docs): README improvement and blog template
  .github/ISSUE_TEMPLATE/submit-a-tutorial.md
  README.md
  blog/__guidelines/blog_contribution.md
  blog/__guidelines/template/blog.md
  docs/__guidelines/lexicon.md
Labels: improvement

#1198 chore(docs) Sample by align to bug fix
  docs/reference/sql/sample-by.md
  static/img/docs/diagrams/.railroad
  static/img/docs/diagrams/alignToCalTimeZone.svg
Labels: docs, QuestDB 6.6

#1197 feat(docs) Aligning with commit lag change for 6.6
  docs/concept/designated-timestamp.md
  docs/guides/importing-data.md
  docs/guides/out-of-order-commit-lag.md
  docs/introduction.md
  docs/operations/capacity-planning.md
  docs/reference/api/ilp/tcp-receiver.md
  docs/reference/api/rest.md
  docs/reference/clients/java_ilp.md
  docs/reference/configuration.md
  docs/reference/function/meta.md
  docs/reference/sql/alter-table-set-param.md
  docs/reference/sql/create-table.md
  docs/reference/sql/insert.md
  docs/reference/sql/select.md
  docs/third-party-tools/kafka/questdb-kafka.md
  docs/troubleshooting/faq.md
  sidebars.js
  static/img/docs/diagrams/.railroad
  static/img/docs/diagrams/createTableWithMaxRowParam.svg
  static/img/docs/diagrams/insert.svg
  static/img/docs/diagrams/insertCommitLag.svg
  static/img/docs/diagrams/withAsInsert.svg
  static/img/docs/diagrams/withAsInsertCommitLag.svg
Labels: QuestDB 6.6

#1209 feat(docs) blog post for QuestDB 6.6.1
  blog/2022-11-25-questdb-6.6.1-dynamic-commits.md
  static/img/blog/2022-11-25/banner.png
  static/img/blog/2022-11-25/commit_lag.png
Labels: QuestDB 6.6, blog post

#1216 blog: the power of sequental scanning
  blog/2022-11-23-sql-extensions-time-series-data-questdb-part-ii.md
  blog/2022-11-25-questdb-6.6.1-dynamic-commits.md
  blog/2022-11-30-full-table-scan-are-fast.mdx
  static/img/blog/2022-11-30/result.png
  static/img/blog/2022-11-30/scan.png
Labels: blog post
