Repository questdb/questdb.io, pull requests merged in 2022-07, with the labels that each got.

#924 chore(docs): fix header flag examples for import
  docs/reference/sql/copy.md
Labels: bug, docs

#916 Chore: Remove use of deprecated NodeJS package
  docs/develop/insert-data.md
  docs/develop/query-data.md
  docs/develop/update-data.md
  snippets/insert/rest-exec.js
  snippets/query/rest.js
Labels: docs, improvement

#846 chore: added example of formatting year in multiple ways
  docs/reference/function/date-time.md
Labels: docs, new
