Repository questdb/questdb.io, pull requests merged in 2022-10, with the labels that each got.

#1088 [docs] Capture `power()` in docs/function/numeric
  docs/reference/function/numeric.md
Labels: docs, Hacktoberfest

#1089 [docs] Capture `base64()` in docs/functions/text
  docs/introduction.md
  docs/reference/function/binary.md
  sidebars.js
Labels: docs, Hacktoberfest

#1106 chore(docs): suggest using SSD on import pages
  docs/guides/importing-data.md
  docs/reference/sql/copy.md
Labels: Documentation

#1109 Update os-error-codes.md with macos error codes
  docs/troubleshooting/os-error-codes.md
Labels: docs, Hacktoberfest

#1091 issue#1081 -- documented regexp_replace function
  docs/reference/operators/regex.md
Labels: docs, Hacktoberfest

#1103 Capturing like/llike functions in /docs/reference/operations/regex.md #1078
  docs/reference/operators/regex.md
Labels: docs, Hacktoberfest

#1131 Updated community page UI
  src/pages/community.tsx
Labels: Hacktoberfest

#1145 Fix Maven and Gradle coordinates for JDK8 on Java (embedded) page
  docs/reference/api/java-embedded.md
Labels: bug, Documentation

#1150 chore(docs) adding upper/lower
  docs/reference/function/text.md
Labels: docs

#1104 Update aggregation.md adding row_number() function
  docs/reference/function/aggregation.md
Labels: docs, Hacktoberfest

#1155 chore(docs) Adding `CREATE TABLE LIKE`
  docs/reference/sql/create-table.md
  static/img/docs/diagrams/.railroad
  static/img/docs/diagrams/createTable.svg
  static/img/docs/diagrams/createTableLike.svg
Labels: docs
