Repository questdb/questdb.io, pull requests merged in 2022-06, with the labels that each got.

#873 add custom BlogListPage component with our design
  docusaurus.config.js
  plugins/blog/index.js
  src/css/_global.css
  src/theme/BlogListPage/Categories/index.tsx
  src/theme/BlogListPage/Categories/styles.module.css
  src/theme/BlogListPage/Chip/index.tsx
  src/theme/BlogListPage/Chip/styles.module.css
  src/theme/BlogListPage/Chips/index.tsx
  src/theme/BlogListPage/Chips/styles.module.css
  src/theme/BlogListPage/ListItem/index.tsx
  src/theme/BlogListPage/ListItem/styles.module.css
  src/theme/BlogListPage/index.tsx
  src/theme/BlogListPage/styles.module.css
Labels: styles/css, improvement

#887 chore(docs): use Go ILP client in snippets
  docs/develop/insert-data.md
  docs/reference/api/ilp/authenticate.md
Labels: docs

#901 chore(docs): fix worker pool size and affinity default values
  docs/reference/configuration.md
Labels: bug, docs

#898 chore(docs): improve naming and escaping rules descriptions for ILP
  docs/reference/api/ilp/columnset-types.md
  docs/reference/api/ilp/overview.md
Labels: docs, improvement

#891 chore(docs): add Golang client to ILP clients list
  docs/develop/insert-data.md
  docs/operations/backup.md
  docs/operations/capacity-planning.md
Labels: docs

#906 New cloud page
  package.json
  src/components/ActionFooter/footer.module.css
  src/components/ActionFooter/foss.svg
  src/components/ActionFooter/index.tsx
  src/components/ActionFooter/subscribeIcon.svg
  src/components/CloudFeatureTable/index.tsx
  src/components/CloudFeatureTable/styles.module.css
  src/components/ContactFormDialog/index.tsx
  src/components/ContactFormDialog/style.module.css
  src/components/Dialog/index.tsx
  src/components/Dialog/styles.module.css
  src/css/_global.css
  src/css/cloud/flashy.module.css
  src/css/cloud/highlights.module.css
  src/css/cloud/style.module.css
  src/pages/case-study/aquis.tsx
  src/pages/cloud.tsx
  src/pages/index.tsx
  src/theme/Button/styles.module.css
  static/img/pages/cloud/close.svg
  static/img/pages/cloud/screens-thumb.png
  static/img/pages/cloud/screens.png
  yarn.lock
Labels: do not merge
