Repository questdb/questdb.io, pull requests merged in 2023-05, with the labels that each got.

#1638 chore(blog): fix typo in slug
  blog/2023-05-02-investigating-linux-phantom-disk-reads.mdx
Labels: blog post

#1640 chore(blog): fix typo in phantom disk reads post
  blog/2023-05-02-investigating-linux-phantom-disk-reads.mdx
Labels: blog post

#1678 chore(docs): document all query parameters for import endpoint
  docs/reference/api/rest.md
Labels: docs

#1677 chore(docs): update health check documentation
  docs/guides/importing-data.md
  docs/operations/health-monitoring.md
  docs/reference/configuration.md
Labels: docs, upcoming changes

#1673 feat(docs): adding docs for the new import ui
  docs/develop/web-console.md
  static/img/docs/console/amendType.jpg
  static/img/docs/console/column.png
  static/img/docs/console/freeze-column.png
  static/img/docs/console/import-complete.png
  static/img/docs/console/import-details.png
  static/img/docs/console/import-ui.png
  static/img/docs/console/ready-to-upload.png
  static/img/docs/console/uploadButton.png
Labels: New feature

#1691 chore(docs): adding SET TYPE to WAL concept page
  docs/concept/write-ahead-log.md
Labels: docs

#1680 feat(docs): adding data durability wording
  docs/concept/storage-model.md
Labels: docs, do not merge
